<mt-toolbar [comp]='toolbar' [sm]='sm'></mt-toolbar>
<ng-container *ngIf='comp.cardView' multi>
    <mat-card *ngFor="let row of data"
        [class]='sm.getColsClass(comp, "datacols") + " card"'>
        <div class="menu" (click)='toggleExpand(row)'>
            <div>
                {{summary(row)}}
            </div>
            <span class="menu-spacer"></span>
            <button mat-icon-button 
                (click)='toggleExpand(row); $event.stopPropagation()'>
                <mat-icon *ngIf='currow === row'>expand_less</mat-icon>
                <mat-icon *ngIf='currow !== row'>expand_more</mat-icon>
            </button>
        </div>

        <mt-container [comp]='comp' [sm]='subsm' *ngIf='currow === row'></mt-container>
    </mat-card>
</ng-container>