<mt-toolbar [comp]='toolbar' [sm]='sm'></mt-toolbar>
<div *ngIf='comp.cardView' class="row" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-card *ngFor="let row of data"
        [class]='sm.getColsClass(comp, "datacols") + " card"' cdkDrag [cdkDragDisabled]="!comp.dragdrop">
        <div class="menu" (click)='toggleExpand(row)'>
            <div>
                <mt-item [comp]='summary(row)' [sm]='sm'></mt-item>
            </div>
            <span class="menu-spacer"></span>
            <button mat-icon-button
                (click)='toggleExpand(row); $event.stopPropagation()'>
                <mat-icon *ngIf='currow === row'>expand_less</mat-icon>
                <mat-icon *ngIf='currow !== row'>expand_more</mat-icon>
            </button>
        </div>

        <mt-container [comp]='comp' [sm]='subsm' *ngIf='currow === row'></mt-container>
    </mat-card>
</div>
<div *ngIf='!comp.cardView'>
    <table class="mat-table mat-elevation-z8">
        <thead class="mat-header">
            <tr class="mat-header-row">
                <th class="mat-header-cell" *ngFor='let cap of captions'>{{cap}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data" class="mat-row">
                <td class="mat-cell" *ngFor='let feld of fields'>todo</td>
            </tr>
        </tbody>
    </table>
</div>