<mat-form-field [style]='sm.getStyle(comp)' [appearance]='sm.getAppearance(comp)' class="form-field">
  <mt-lbl [comp]='comp' [sm]='sm' [ngClass]='{"error-color" : getError()}'></mt-lbl>
  <span matPrefix *ngIf='comp.prefix'>{{comp.prefix}}</span>
  <input *ngIf='Typ === 0'
    [mask]='comp.mask' [thousandSeparator]='maskOptions.thousandSeparator'
    [dropSpecialCharacters]='maskOptions.dropSpecialCharacters' [showMaskTyped]='maskOptions.showMaskTyped'
    matInput #name [(ngModel)]='Value' (blur)='onBlur()'
    [type]='comp.inputType'
    [placeholder]='placeholder'
    [disabled]='disabled' />
  <textarea *ngIf='Typ === 1'
    [rows]='comp.rows'
    matInput #name [(ngModel)]='Value' (blur)='onBlur()'
    [placeholder]='placeholder'
    [disabled]='disabled'>
  </textarea>
  <input *ngIf='Typ === 2'
    [matAutocomplete]="auto"
    matInput #name [(ngModel)]='Value' (ngModelChange)='Filter(Value)' (blur)='onBlur()'
    [placeholder]='placeholder'
    [disabled]='disabled' />
  <mat-select *ngIf='Typ === 3' #name 
    [(ngModel)]='Value' 
    (blur)='onBlur()'
    [disabled]='disabled'>
    <mat-option *ngFor="let item of OptionsAsObjects" [value]="item.value">
      {{item.text}}
    </mat-option>

  </mat-select>
  <span matSuffix *ngIf='comp.suffix' class="suffix">{{comp.suffix}}</span>
  <mat-hint>
    <div *ngIf='getError()' class="error-color error-font">{{getError()}}</div>
    <div *ngIf='comp.hint && !getError()'>{{hint}}</div>
  </mat-hint>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>