<mat-form-field *ngIf='comp' [style]='getStyle()'>
    <mat-label>{{comp.label}}</mat-label>
    <input *ngIf='!comp.multiline' matInput [value]='getValue()' (change)='onChange($event.target.value)' (blur)='onBlur()' [placeholder]='comp.placeholder' [type]='comp.inputType'>
    <textarea *ngIf='comp.multiline' matInput [value]='getValue()' (change)='onChange($event.target.value)' (blur)='onBlur()' [placeholder]='comp.placeholder' [rows]='comp.rows'></textarea>
    <mat-hint>
        <div *ngIf='comp.error' class="error">{{comp.error}}</div>
        <div *ngIf='comp.hint && !comp.error'>{{comp.hint}}</div>
    </mat-hint>
</mat-form-field>