<mat-card>
    <div class="menu">
        <div class="mat-h2">
            {{sm.getLabel(comp)}}
        </div>
        <span class="menu-spacer"></span>
        <button mat-icon-button 
            (click)='hidePanel()'>
            <mat-icon >close</mat-icon>
        </button>
    </div>


    <div *ngFor='let error of Errors' (click)='clickError(error.comp)'>
        <span *ngIf='error.comp && error.comp.label' class="error-label">{{sm.getLabel(error.comp)}}</span>
        <span class="error-msg">{{error.error}}</span>
       
    </div>
</mat-card>