<mt-form *ngIf='isComp("form")' [comp]='comp' [sm]='sm'></mt-form>
<mt-tabs *ngIf='isComp("tabs")' [comp]='comp' [sm]='sm'></mt-tabs>
<mt-exp *ngIf='isComp("expansionspanel")' [comp]='comp' [sm]='sm'></mt-exp>
<mt-datatable *ngIf='isComp("datatable")' [comp]='comp' [sm]='sm' [curRowInd]='comp.curRowInd'></mt-datatable>
<mt-panel *ngIf='isComp("panel")' [comp]='comp' [sm]='sm'></mt-panel>
<mt-card *ngIf='isComp("card")' [comp]='comp' [sm]='sm'></mt-card>


<mt-input *ngIf='isComp("input")' [comp]='comp' [sm]='sm' [isSelect]='false'></mt-input>
<mt-input *ngIf='isComp("select")' [comp]='comp' [sm]='sm' [isSelect]='true'></mt-input>
<mt-radio *ngIf='isComp("radiogroup")' [comp]='comp' [sm]='sm'></mt-radio>
<mt-checkbox *ngIf='isComp("checkbox")' [comp]='comp' [sm]='sm'></mt-checkbox>
<mt-switch *ngIf='isComp("switch")' [comp]='comp' [sm]='sm'></mt-switch>

<mt-toolbar *ngIf='isComp("toolbar")' [comp]='comp' [sm]='sm'></mt-toolbar>
<mt-btn *ngIf='isComp("button")' [comp]='comp' [sm]='sm'></mt-btn>
<mt-link *ngIf='isComp("link")' [comp]='comp' [sm]='sm'></mt-link>
<mt-lbl *ngIf='isComp("label")' [comp]='comp' [sm]='sm'></mt-lbl>
<mt-html *ngIf='isComp("html")' [comp]='comp' [sm]='sm'></mt-html>
<mt-divider *ngIf='isComp("divider")' [comp]='comp' [sm]='sm'></mt-divider>
<mt-errorpanel *ngIf='isComp("errorpanel")' [comp]='comp' [sm]='sm' [Errors]='sm.Errors' [ErrorCount]='sm.Errors.length'></mt-errorpanel>

