<mat-toolbar color="primary" class="tb">
    <mat-toolbar-row>
        <button *ngIf='smallScreen' mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>
        <div>
            {{sm.getLabel(comp)}}
        </div>
        <span class="menu-spacer"></span>
        <div *ngIf='!smallScreen'>
            <button mat-mini-fab (click)='Insert()' class="btn" color="primary" [matTooltip]="sm.Strings.ds_ins">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab (click)='CopyRow()' class="btn" color="primary" [matTooltip]="sm.Strings.ds_copy"
                [disabled]='!currow'>
                <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-mini-fab (click)='DeleteRow()' class="btn" color="primary" [matTooltip]="sm.Strings.ds_del"
                [disabled]='!currow'>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-accordion>
    <mat-expansion-panel *ngFor="let row of data" [class]='sm.getColsClass(comp, "datacols")'>
        <mat-expansion-panel-header>
            {{summary(row)}}
        </mat-expansion-panel-header>
        <div *ngIf='currow === row'>
            <mt-container [comp]='comp' [sm]='subsm'></mt-container>
        </div>
    </mat-expansion-panel>
</mat-accordion>