<mat-toolbar color="secondary" class="tb">
    <div>
        Card Grid
    </div>
    <div>
        <button mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab class="btn" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        <button mat-mini-fab class="btn" color="primary">
            <mat-icon>content_copy</mat-icon>
          </button>
        <button mat-mini-fab class="btn" color="primary">
            <mat-icon>delete</mat-icon>
          </button>
    </div>
</mat-toolbar>
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.sm="33%" fxFlex.xs="100%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <mat-card class="mat-elevation-z4" (click)="editRow(num)">
            The Himalayas is a mountain range in Asia.
        </mat-card>
    </div>
</div>