<mat-form-field appearance="fill" class="top">
    <mat-label>Schema:</mat-label>
    <mat-select [(value)]="schema">
        <mat-option value="schema1">schema1</mat-option>
        <mat-option value="schema2">schema2</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="top">
    <mat-label>External Schema:</mat-label>
    <mat-select [(value)]="extschema">
        <mat-option *ngFor='let ext of extschemas' [value]="ext">{{ext}}</mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field appearance="fill" class="top">
    <mat-label>Values:</mat-label>
    <mat-select [(value)]="optvalues">
        <mat-option value="1">Leere Werte</mat-option>
        <mat-option value="2">Werte laden</mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field appearance="fill" class="top">
    <mat-label>Sprache:</mat-label>
    <mat-select [(value)]="sprache">
        <mat-option value="de">de</mat-option>
        <mat-option value="en">en</mat-option>
    </mat-select>
</mat-form-field>

<div class="formstyle" *ngIf='curschema'>
  <vs-form [schema]='curschema' [values]='curvalues' [settings]='Settings'></vs-form>
</div>

<div style="margin-top: 100px;">Values</div>
<div>{{getValues()}}</div>
