<mat-form-field appearance="fill" class="top">
    <mat-label>Schema:</mat-label>
    <mat-select [(ngModel)]="schema">
        <mat-option *ngFor='let schema of schemas_arr' [value]='schema'>{{schema}}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="top">
    <mat-label>Values:</mat-label>
    <mat-select [(ngModel)]="values">
        <mat-option value='0'>Leere Werte</mat-option>
        <mat-option *ngFor='let values of values_arr' [value]='values'>{{values}}</mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field appearance="fill" class="top">
    <mat-label>Appearance:</mat-label>
    <mat-select [(ngModel)]="appearance">
        <mat-option value="legacy">legacy</mat-option>
        <mat-option value="standard">standard</mat-option>
        <mat-option value="fill">fill</mat-option>
        <mat-option value="outline">outline</mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field appearance="fill" class="top">
    <mat-label>Sprache:</mat-label>
    <mat-select [(ngModel)]="sprache">
        <mat-option value="de">de</mat-option>
        <mat-option value="en">en</mat-option>
    </mat-select>
</mat-form-field>

<mat-checkbox [(ngModel)]='diffView'>Diff View</mat-checkbox>

<div *ngIf='curschema && !diffView'>
    <div class="formstyle">
        <vs-form [schema]='curschema' [values]='curvalues' [settings]='Settings'></vs-form>
    </div>
    <div style="margin-top: 100px;">Values</div>
    <div>{{getValues()}}</div>

    <!-- <div style="margin-top: 100px;">Schema</div>
    <div>{{getSchema()}}</div> -->

</div>


<div class="diff" *ngIf='diffView'>
    <vs-diff [schema]='schemas_obj.schema1' [values1]='values_obj.values1_1' [values2]='values_obj.values1_2' [settings]='Settings'></vs-diff>
</div>