.formstyle {
    width: 1800px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: solid;
}

.top {
    margin: 20px;
}


.diff {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
}