.sidenav-container {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
  grid-gap: 1rem;
}

.full-width {
  grid-column: 1 / span 2;
}

.right {
  grid-column: 2;
}

