<mt-form *ngIf='isComp("form")' [comp]='comp' [sm]='sm'></mt-form>
<mt-exp *ngIf='isComp("expansionspanel")' [comp]='comp' [sm]='sm'></mt-exp>
<mt-cardgrid *ngIf='isComp("cardgrid")' [comp]='comp' [sm]='sm'></mt-cardgrid>

<mt-input *ngIf='isComp("input")' [comp]='comp' [sm]='sm'></mt-input>
<mt-checkbox *ngIf='isComp("checkbox")' [comp]='comp' [sm]='sm'></mt-checkbox>
<mt-btn *ngIf='isComp("button")' [comp]='comp' [sm]='sm'></mt-btn>
<mt-divider *ngIf='isComp("divider")' [comp]='comp' [sm]='sm'></mt-divider>
