<mt-form *ngIf='isComp("form")' [comp]='comp'></mt-form>
<mt-exp *ngIf='isComp("expansionspanel")' [comp]='comp'></mt-exp>
<mt-cardgrid *ngIf='isComp("cardgrid")' [comp]='comp'></mt-cardgrid>

<mt-input *ngIf='isComp("input")' [comp]='comp'></mt-input>
<mt-autocomplete *ngIf='isComp("autocomplete")' [comp]='comp'></mt-autocomplete>
<mt-checkbox *ngIf='isComp("checkbox")' [comp]='comp'></mt-checkbox>
<mt-btn *ngIf='isComp("button")' [comp]='comp'></mt-btn>
<mt-divider *ngIf='isComp("divider")' [comp]='comp'></mt-divider>