.content {
    padding-left: 15px;
}

.header {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;
}

.label {
    margin-top: 10px;
    margin-left: 10px;
}

.menu-spacer {
    flex: 1 1 auto;
}
